/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 100px;
}
footer {
    padding: 30px 0;
}


/*
 * Custom styles
 */

.navbar-brand {
    font-size: 24px;
    color: #008300;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar-brand, .navbar-nav>li>a{
  color: #297A2D;
  text-shadow: 0.3px 0.3px black;
}

div#navbar.collapse.navbar-collapse{
  width: 100%;
}

.navbar.navbar-fixed-top.fixed-theme {
    color:#c6c6c6;
    background-color: white;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.6s;
    -webkit-transition:  0.6s;
}